<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <switches>
      <add name="HostSwitch" value="All" />
    </switches>
    <sharedListeners>
      <add name="File"
        type="KSoft.Debug.KSoftFileLogTraceListener, KSoft"
        Location="ExecutableDirectory"
        BaseFileName="TraceConfigHost"
        Append="false"
        AutoFlush="true"
        DoNotIncludeEventId="true"
        ReserveDiskSpace="0"
        MaxFileSize="1048576" />
    </sharedListeners>
    <sources>
      <source name="ConfiguredSource" switchName="HostSwitch">
        <listeners>
          <clear />
          <add name="File" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
      <listeners>
        <clear />
        <add name="File" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
