<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension="cs" #>
<#@ assembly name="$(VitaSolutionFamilyBinPath)KSoft.T4.dll" #>
<#@ import namespace="KSoft.T4" #>
<#@ import namespace="KSoft.T4.Bitwise" #>
using System;
using Contracts = System.Diagnostics.Contracts;

namespace KSoft
{
	partial class Bits
	{
#if false // old, solid impl
<# foreach (var bittable_type in BitwiseT4.BittableTypes_Unsigned) { #>
<#	var code_gen = new BitwiseT4.BitCountCodeGenerator(
		this, bittable_type);

	code_gen.Generate();
#>

<# } #>
#endif

		// #TODO_DOTNET replace BitCount with System.Numerics.BitOperations.PopCount
<# foreach (var bittable_type in BitwiseT4.BittableTypes_Unsigned) { #>
<#	var code_gen = new BitwiseT4.FastBitCountCodeGenerator(
		this, bittable_type);

		// #TODO: the formula doesn't work with 16-bits correctly...not sure who's fault it is yet
		if (bittable_type.Code == TypeCode.UInt16)
			continue;

	code_gen.Generate();
#>

<# } #>

<# foreach (var bittable_type in BitwiseT4.BittableTypes_MajorWords) { #>
<#	var prim_keyword = bittable_type.Keyword;
#>
		/// <summary>Calculate the bit-mask needed for a number of bits</summary>
		/// <param name="bitCount">Number of bits needed for the mask</param>
		/// <returns></returns>
		[Contracts.Pure]
		public static <#= prim_keyword #> BitCountToMask<#= bittable_type.SizeOfInBits #>(int bitCount)
		{
			ArgumentOutOfRangeException.ThrowIfLessThan(bitCount, 0);
			ArgumentOutOfRangeException.ThrowIfGreaterThan(bitCount, k<#= bittable_type.Code #>BitCount);

			//return <#= prim_keyword #>.MaxValue >> (k<#= bittable_type.Code #>BitCount-bitCount);
			const <#= prim_keyword #> kOne = 1;
			return bitCount == k<#= bittable_type.Code #>BitCount
				? <#= prim_keyword #>.MaxValue
				: (kOne << bitCount) - 1;
		}

<# } #>
	};
}